<%- include('../base/header', {title: "Flight Details"}) %>

<h1>Flight List</h1>
  <table class= "table">
    <thead>
      <tr>
        <th>Delete</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Destination</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% sortFlights.forEach(function(f) { %>
      
        <tr class= '<%= f.departs < Date.now()? `text-danger` : `text-dark`; %>'>
          <td>
            <form action="/flights/<%= f.id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><ul> 
            <% f.destination.forEach(function(f) { %>
                <li>
                    <%= f.airport %> 
                    <%= f.arrival %>
                </li>
            <% }); %>
            </ul>
          </td>
          <td><a href="/flights/<%= f._id %>">View Details</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../base/footer') %>